@model StorBookWebApp.Core.MVC.BookUpdateDTo
@{ BookDTo book = ViewData["getBook"] as BookDTo;}
@{ 
    ViewData["Title"] = "Edit Book";
    Layout = "_AdminPage";
}


<div>
  <form asp-action="EditBook">
    <label>Isbn</label>
    <input type="text" asp-for="Isbn" value=@book.Isbn required>

    <label >Title</label>
    <input type="text" asp-for="Title" value=@book.Title required>

    <label >Description</label>
    <input type="text" asp-for="Description" value=@book.Description  required>

    <label >Author</label>
    <input type="text" asp-for="Author" value=@book.AuthorsOrdered required>

    <label >Publisher</label>
    <input type="text" asp-for="Publisher" value=@book.PublishedOn required>

    @*<label>Country</label>
    <select id="country" name="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>*@
  
    <input type="submit" value="Submit">
  </form>
</div>