<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin Login</title>
    <link rel="stylesheet" href="~/css/adminlogin.css">
  </head>
  <body>
    <div role="main">
        @RenderBody()
    </div>

  </body>
</html>
